
/* @author ecitonon */
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #3eb370, #007b43);
}
h1 {
  color: #fff;
  font-size: 40px;
}
ul {
  list-style-type: none;
}
ul li {
  margin: 1em 0;
  margin-left: 1em;
}
ul li::before {
  content: "▷";
  color: #fff;
  font-size: 75%;
}
a {
  margin-left: 0.75em;
  font-size: 20px;
}
a:link {
  color: #2E9AFE;
}
a:visited {
  color: #fa5858;
}

@media (max-width: 1080px) {
  body {
    display: grid;
    grid:
      "....... ....... ....... ....... ......." 5em
      "....... grbl    ....... sns     ......." max-content
      "....... ....... ....... ....... ......." 2em
      "....... yahoo   ....... twitter ......." max-content
      "....... ....... ....... ....... ......." 2em
      "....... google  ....... movie   ......." max-content
      "....... ....... ....... ....... ......." 2em
      "....... rss     ....... graphic ......." max-content
      "....... ....... ....... ....... ......." 2em
      "....... others  ....... ....... ......." max-content
      "....... ....... ....... ....... ......." 1fr
      / 1fr max-content 1fr max-content 1fr;
  }
  .grbl {
    grid-area: grbl;
  }
  .sns {
    grid-area: sns;
  }
  .twitter {
    grid-area: twitter;
  }
  .google {
    grid-area: google;
  }
  .yahoo {
    grid-area: yahoo;
  }
  .graphic {
    grid-area: graphic;
  }
  .movie {
    grid-area: movie;
  }
  .rss {
    grid-area: rss;
  }
  .others {
    grid-area: others;
  }
}

@media (min-width: 1081px) {
  body {
    display: grid;
    grid:
      "....... ....... ....... ....... ....... ......." 2em
      "....... grbl    sns     movie   rss     ......." max-content
      "....... ....... ....... ....... ....... ......." 2em
      "....... google  twitter graphic others  ......." max-content
      "....... ....... ....... ....... ....... ......." 2em
      "....... yahoo   ....... ....... ....... ......." max-content
      "....... ....... ....... ....... ....... ......." 1fr
      / 1fr max-content max-content max-content max-content 1fr;
      grid-column-gap: 2em;
  }
  #grbl {
    grid-area: grbl;
    display: block;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    border: 1px solid #0068b7;
    border-radius: 10%;
    background-color: #a0d8ef;
  }
  #sns {
    grid-area: sns;
    display: block;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    border: 1px solid #0068b7;
    border-radius: 10%;
    background-image: url(images/network_people_connection.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: #a0d8ef;
  }
  #twitter {
    grid-area: twitter;
    display: block;
    width: 250px;
    height: 240px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid #0068b7;
    border-radius: 10%;
    background-image: url(images/bird_aoitori_bluebird.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: #a0d8ef;
  }
  #google {
    grid-area: google;
    display: block;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    border: 1px solid #0068b7;
    border-radius: 10%;
    background-image: url(images/search_mushimegane.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: #a0d8ef;
  }
  #yahoo {
    grid-area: yahoo;
    display: block;
    width: 250px;
    height: 240px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid #0068b7;
    border-radius: 10%;
    background-image: url(images/computer_search_kensaku.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: #fff;
  }
  #graphic {
    grid-area: graphic;
    display: block;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    border: 1px solid #0068b7;
    border-radius: 10%;
    background-image: url(images/otaku.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: #a0d8ef;
  }
  #movie {
    grid-area: movie;
    display: block;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    border: 1px solid #0068b7;
    border-radius: 10%;
    background-image: url(images/otaku.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: #a0d8ef;
  }
  #rss {
    grid-area: rss;
    display: block;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    border: 1px solid #0068b7;
    border-radius: 10%;
    background-color: #a0d8ef;
  }
  #others {
    grid-area: others;
    display: block;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    border: 1px solid #0068b7;
    border-radius: 10%;
    background-color: #a0d8ef;
  }

  #grbl-open + label {
    color: #000;
    font-size: 150%;
    font-weight: bold;
  }
  #sns-open + label {
    color: #000;
    font-size: 300%;
    font-weight: bold;
  }
  #movie-open + label {
    color: #fff;
    font-size: 300%;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000,
                 2px -2px 0 #000,
                 -2px 2px 0 #000,
                 -2px -2px 0 #000;
  }
  #rss-open + label {
    color: #000;
    font-size: 300%;
    font-weight: bold;
  }
  #google-open + label {
    color: #000;
    font-size: 300%;
    font-weight: bold;
  }
  #twitter-open + label {
    color: #000;
    font-size: 300%;
    font-weight: bold;
  }
  #graphic-open + label {
    color: #fff;
    font-size: 300%;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000,
                 2px -2px 0 #000,
                 -2px 2px 0 #000,
                 -2px -2px 0 #000;
  }
  #others-open + label {
    color: #000;
    font-size: 300%;
    font-weight: bold;
  }
  #yahoo-open + label {
    color: #f00;
    font-size: 300%;
    font-weight: bold;
  }
}
