
/* @author ecitonon */
body {
  display: grid;
  width: 90vw;
  height: calc(100vh - 10vh);
  padding: 5vh 5vw;
  grid-auto-rows: 250px;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 1em 1em;
  justify-content: center;
  background: linear-gradient(to bottom, #3eb370, #007b43);
}

ul {
  list-style-type: none;
  text-align: center;
}
a:link {
  color: #2E9AFE;
}
a:visited {
  color: #fa5858;
}

.l-container {
  display: block;
  width: 250px;
  height: 240px;
  padding-top: 10px;
  position: relative;
  border-radius: 15%;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-color: #fff;

  /* animation */
  transition-property: background-size;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#grbl {
  background-image: url(images/logo_granbluefantasy.jpg);
  background-color: #a0d8ef;
}
#sns {
  background-image: url(images/www_marksign_net/iine.png);
  background-color: #164a84;
}
#twitter {
  background-image: url(images/www_marksign_net/twitter.png);
}
#google {
  background-image: url(images/www_marksign_net/chrome.png);
}
#yahoo {
  background-image: url(images/www_marksign_net/yahoo.png);
}
#rss {
  background-image: url(images/www_marksign_net/rss.png);
}
#graphic {
  background-image: url(images/www_marksign_net/pinterest.png);
}
#movie {
  background-image: url(images/www_marksign_net/youtube.png);
}
#others {
  background-image: url(images/www_marksign_net/ie.png);
}

.open-burger {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.modal-contents > ul > li {
  display: block;
  width: calc(100% - 2px);
  height: 4em;
  border: 1px solid #000;
  text-align: left;
  line-height: 4em;
  text-indent: 1em;
  white-space: nowrap;
  background-color: #2e2e2e;
}
.modal-contents > ul > .tittle {
  position: sticky;
  top: -1px;
  color: #fff;
  background-color: #000;
}
.modal-contents > ul > li * {
  font-size: 2em;
}

/*** animation ***/
.l-container:hover {
  background-size: 500px 500px;
}
