
/* @author ecitonon */
body {
  display: grid;
  width: 90vw;
  height: calc(100vh - 10vh);
  padding: 5vh 5vw;
  grid-auto-rows: 250px;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 1em 1em;
  justify-content: center;
  background: linear-gradient(to bottom, #3eb370, #007b43);
}

h1 {
  color: #fff;
  font-size: 40px;
}
ul {
  list-style-type: none;
  text-align: center;
}
a:link {
  color: #2E9AFE;
}
a:visited {
  color: #fa5858;
}

#grbl {
  display: block;
  width: 250px;
  height: 240px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #0068b7;
  border-radius: 10%;
  background-image: url(images/granbluefantasy.jpg);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-color: #a0d8ef;
}
#sns {
  display: block;
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 250px;
  border: 1px solid #0068b7;
  border-radius: 10%;
  background-image: url(images/network_people_connection.png);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-color: #164a84;
}
#twitter {
  display: block;
  width: 250px;
  height: 240px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #0068b7;
  border-radius: 10%;
  background-image: url(images/bird_aoitori_bluebird.png);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-color: #a0d8ef;
}
#google {
  display: block;
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 250px;
  border: 1px solid #0068b7;
  border-radius: 10%;
  background-image: url(images/search_mushimegane.png);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-color: #a0d8ef;
}
#yahoo {
  display: block;
  width: 250px;
  height: 240px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #0068b7;
  border-radius: 10%;
  background-image: url(images/computer_search_kensaku.png);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-color: #fff;
}
#graphic {
  display: block;
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 250px;
  border: 1px solid #0068b7;
  border-radius: 10%;
  background-image: url(images/otaku.png);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-color: #f08080;
}
#movie {
  display: block;
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 250px;
  border: 1px solid #0068b7;
  border-radius: 10%;
  background-image: url(images/otaku.png);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-color: #b22222;
}
#rss {
  display: block;
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 250px;
  border: 1px solid #0068b7;
  border-radius: 10%;
  background-color: #a0d8ef;
}
#others {
  display: block;
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 250px;
  border: 1px solid #0068b7;
  border-radius: 10%;
  background-color: #a0d8ef;
}

#grbl-open + label {
  color: #000;
  font-size: 180%;
  font-weight: bold;
  text-shadow: 2px 2px 0 #fff,
               2px -2px 0 #fff,
               -2px 2px 0 #fff,
               -2px -2px 0 #fff;
}
#sns-open + label {
  color: #000;
  font-size: 300%;
  font-weight: bold;
  text-shadow: 2px 2px 0 #fff,
               2px -2px 0 #fff,
               -2px 2px 0 #fff,
               -2px -2px 0 #fff;
}
#movie-open + label {
  color: #fff;
  font-size: 300%;
  font-weight: bold;
  text-shadow: 2px 2px 0 #000,
               2px -2px 0 #000,
               -2px 2px 0 #000,
               -2px -2px 0 #000;
}
#rss-open + label {
  color: #000;
  font-size: 300%;
  font-weight: bold;
}
#google-open + label {
  color: #000;
  font-size: 300%;
  font-weight: bold;
}
#twitter-open + label {
  color: #000;
  font-size: 300%;
  font-weight: bold;
}
#graphic-open + label {
  color: #fff;
  font-size: 300%;
  font-weight: bold;
  text-shadow: 2px 2px 0 #000,
               2px -2px 0 #000,
               -2px 2px 0 #000,
               -2px -2px 0 #000;
}
#others-open + label {
  color: #000;
  font-size: 300%;
  font-weight: bold;
}
#yahoo-open + label {
  color: #f00;
  font-size: 300%;
  font-weight: bold;
}

.modal_contents > ul > li {
  display: block;
  width: calc(100% - 2px);
  height: 4em;
  border: 1px solid #000;
  text-align: left;
  line-height: 4em;
  text-indent: 1em;
  white-space: nowrap;
  background-color: #2e2e2e;
}
.modal_contents > ul > .tittle {
  position: sticky;
  top: -1px;
  color: #fff;
  background-color: #000;
}
.modal_contents > ul > li * {
  font-size: 2em;
}
