
.modal_wrapper,
input[name="modal_sw"],
#grbl-open + label ~ label {
  display: none;
}
#grbl-open + label,
#grbl-close_button + label {
  cursor: pointer;
}

/*** checked ***/
#grbl-open:checked + label ~ .modal_wrapper {
  display: block;
  width: 30%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
  border: 2px solid #000;
  background: #2E2E2E;
}
#grbl-open:checked + label ~ .modal_wrapper > .modal_contents {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  overflow-y: auto;
}
#grbl-open:checked + label ~ #grbl-close_overlay + label {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(128, 128, 128, 0.4);
}
#grbl-open:checked ~ #grbl-close_button + label {
  display: block;
  width: 2em;
  height: 2em;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 999;
  font-size: 2em;
  text-align: center;
  line-height: 1.8em;
  background: #fff;
  border-radius: 50%;
}

/*** animation ***/
.modal_wrapper {
  animation: fadeIn 1s ease 0s 1 normal;
}
#grbl-open:checked ~ #grbl-close_button + label {
  animation : fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
