
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* @author ecitonon */
* {
  background-color: #2E2E2E;
}
h1 {
  color: #fff;
  font-size: 40px;
}
ul {
  list-style-type: none;
}
ul li {
  margin: 1em 0;
  margin-left: 1em;
}
ul li::before {
  content: "▷";
  color: #fff;
  font-size: 75%;
}
a {
  margin-left: 0.75em;
  font-size: 20px;
}
a:link {
  color: #2E9AFE;
}
a:visited {
  color: #fa5858;
}

@media (max-width: 1080px) {
  body {
    display: grid;
    grid:
      "....... ....... ....... ....... ......." 5em
      "....... grbl    ....... sns     ......." max-content
      "....... ....... ....... ....... ......." 2em
      "....... yahoo   ....... twitter ......." max-content
      "....... ....... ....... ....... ......." 2em
      "....... google  ....... movie   ......." max-content
      "....... ....... ....... ....... ......." 2em
      "....... rss     ....... graphic ......." max-content
      "....... ....... ....... ....... ......." 2em
      "....... others  ....... ....... ......." max-content
      "....... ....... ....... ....... ......." 1fr
      / 1fr max-content 1fr max-content 1fr;
  }
  .grbl {
    grid-area: grbl;
  }
  .sns {
    grid-area: sns;
  }
  .twitter {
    grid-area: twitter;
  }
  .google {
    grid-area: google;
  }
  .yahoo {
    grid-area: yahoo;
  }
  .graphic {
    grid-area: graphic;
  }
  .movie {
    grid-area: movie;
  }
  .rss {
    grid-area: rss;
  }
  .others {
    grid-area: others;
  }
}

@media (min-width: 1081px) {
  body {
    display: grid;
    grid:
      "....... ....... ....... ....... ....... ......." 2em
      "....... grbl    sns     movie   rss     ......." max-content
      "....... ....... ....... ....... ....... ......." 2em
      "....... google  twitter graphic others  ......." max-content
      "....... ....... ....... ....... ....... ......." 2em
      "....... yahoo   ....... ....... ....... ......." max-content
      "....... ....... ....... ....... ....... ......." 1fr
      / 1fr max-content max-content max-content max-content 1fr;
      grid-column-gap: 6em;
  }
  .grbl {
    grid-area: grbl;
  }
  .sns {
    grid-area: sns;
  }
  .twitter {
    grid-area: twitter;
  }
  .google {
    grid-area: google;
  }
  .yahoo {
    grid-area: yahoo;
  }
  .graphic {
    grid-area: graphic;
  }
  .movie {
    grid-area: movie;
  }
  .rss {
    grid-area: rss;
  }
  .others {
    grid-area: others;
  }
}
