html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

* {
	margin: 0;
	background-color: #2E2E2E;
}
* h1 {
	font-size: 40px;
	color: #FFF;
}
* h2 {
	font-size: 25px;
	color: #848484;
}
* a {
	font-size: 20px;
	margin-left: 1em;
}
* span {
	color: #FFF;
	font-size: 13px;
	margin-left: 1em;
}
a:link {
	color: #2E9AFE;
}
a:visited {
	color: #FA5858;
}



#left {
	width: 45%;
	margin-top: 3em;
	margin-left: 2em;
	float: left;
}
#right {
	width: 45%;
	margin-top: 3em;
	margin-right: 2em;
	float: right;
}
#inner {
	margin-bottom: 2em;
}
#m1 {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
}



#both {
	height: 10px;
	width: 100%;
	clear: both;
}
